In [118]:
# Import pandas
import pandas as pd

In [119]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [120]:
# comparing the average income based on ethnicity

print(df.groupby(['Ethnicity']) ["Income"].mean())

Ethnicity
African American    47.682101
Asian               44.187833
Caucasian           44.521945
Name: Income, dtype: float64

In [121]:
# checking on average if married or single people have a higher income

print(df.groupby(["Married"]) ["Income"].mean())

Married
No     43.641090
Yes    46.217082
Name: Income, dtype: float64

In [122]:
# checking the highest income in dataset

print("The highest income in our dataset is", df.loc[:, "Income"].max())

The highest income in our dataset is 186.634

In [123]:
# checking the lowest income in dataset

print("The lowest income in our dataset is", df.loc[:, "Income"].min())

The lowest income in our dataset is 10.354

In [124]:
# How many cards do we have recorded in our dataset? (Hint: use sum())

print("We have", df.loc[:, "Cards"].sum(), "Cards recorded in our dataset")

We have 1183 Cards recorded in our dataset

In [125]:
# How many females do we have information for vs how many males? (Hint: use count())

print(df["Gender"].value_counts())

Gender
Female    207
Male      193
Name: count, dtype: int64